<div>
    <a href="javascript:;" ng-click="ctrl.like()" class="badge pull-right">{{post.likes}}</a>
    <span class="badge pull-right">{{post.updated | date : 'dd.MM.yyyy HH:mm:ss'}}</span>
    <a ng-if="ctrl.canDelete()" ng-click="ctrl.delete()" href="javascript:;" class="badge pull-right">Delete</a>
    <a ng-if="ctrl.canEdit()" ng-click="ctrl.isEdit=!ctrl.isEdit" href="javascript:;" class="badge pull-right">Edit</a>
    <span ng-if="!ctrl.isEdit" >
    	{{post.text}}	
    </span>
    <comment-form ng-if="ctrl.isEdit" 
    	post="post" on-post="ctrl.edit(newPost)" template="edit"></comment-form>

</div>