<div class="col-md-4 col-md-offset-4 col-xs-12">
    <div  ng-controller="listCtrl as ctrl" ng-init="ctrl.init()">
        <div ng-if="ctrl.page.ready">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active pull-left">Комментарии</li>
                <li role="presentation" class="pull-right"><logout-button></logout-button></li>
            </ul>
            
            
            
            <comment-form post="ctrl.commentFactory.post" on-post="ctrl.commentFactory.add(newPost)" template="add"></comment-form>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="(key, post) in ctrl.commentFactory.posts">
                    <comment-item 
                        post="post" 
                        on-like="ctrl.commentFactory.like(post)"
                        on-delete="ctrl.commentFactory.delete(post)"
                        on-edit="ctrl.commentFactory.save(newPost, post, $index)"
                        is-owner="ctrl.commentFactory.isOwner(post)"></comment-item>
                </li>
            </ul>
        
        </div>
    </div>
</div>