<div class="col-md-12 col-xs-12">
    <div class="panel panel-primary" ng-controller="listCtrl as ctrl" ng-init="ctrl.init()">
        <div ng-if="ctrl.page.ready">
            <div class="panel-heading">
                <span class="panel-title pull-left">Комментарии</span>
                <a href="javascript:;" ng-click="ctrl.logout()" class="btn btn-primary pull-right" >Выход</button>
            </div>
            <div class="panel-body">
                
            </div>    
        </div>
    </div>
</div>